---
layout: page
title: Engineering
permalink: "/engineering/"
collection: engineering
---


{% for category in site.categories %}
<h4 class="mt-5 mb-4 pb-2 border-bottom" id="{{ category[0] | replace: " ","-" }}"><span class="text-capitalize small font-weight-bold">In "{{ category[0] }}"</span></h4>
<div class="row">
    {% if category == 'engineering' %}
{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
<div class="col-md-4 mb-5">
{% include postbox.html %}
</div>
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
    {% endif %}
</div>
{% endfor %}



{% for post in site.engineering %}
    <!-- begin post -->
    {% assign author = site.authors[post.author] %}
    <div class="card">
        <a href="{{ post.url | absolute_url }}">
            {% if post.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
        </a>
        <div class="card-block">
            <h2 class="card-title h4 serif-font"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
            <p class="card-text text-muted">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
            <div class="metafooter">
                <div class="wrapfooter small d-flex align-items-center">
                    <span class="author-meta">
                    By  <span class="post-name"> {% if post.author %}{{ author.display_name }}{% else %}{{ site.author }}{% endif %}, </span>             
                    on <span class="post-date">{{ post.date | date_to_string }}</span>
                    </span>               
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->
{% endfor %}